body {
  /* background-color: lightyellow !important; */
}

nav {
  background-color: #0277bd;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover{
    transform: scale(1.1);
}

.link{
    cursor: pointer;
}